:root{
    scroll-behavior: smooth;
}

body{
    background-color: #603808;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
    /* margem interna */
    padding: 30px;
}

.container{
    max-width: 900px;
    margin:auto; /* centraliza a própria div */
    background-color: #f78764;
}

/* chama a div com class="topo" */
.topo{
    text-align: center;
}

h1{
    text-align: center;
}

.principal{
    background-color: #f3d5b5;
}

.cardapio{
    background-color: #dde5b6;
}

.sobre{
    background-color: #f3d5b5;
}

.nav{    
    background-color: #d4a276;
    display: flex;
    justify-content: space-around;
}

.rodape{
    background-color: #f78764;
    text-align: center;
}

/* coolors.co/ */
/* adobe colors */
/* paletton */

/* tabela */
table{
    width:100%;
    border:1px solid #688068;
    border-collapse: collapse;
}

td{
    padding:20px;
    border:1px solid #738b73;
}

th{
    background-color: #738b73;
    color:#FFFFFF;
    padding:20px;
}